a{
    padding: 5px;
    text-decoration: underline;
    color: black;

}
a:hover{
    color: white;
    background-color: grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    cursor: pointer;
}
article:nth-of-type(odd){
    background-color: #DCDCDC;
    padding: 1%;   
}
article > p::first-letter{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold; 
}
article > p::first-line{
    font-weight: bold; 
}
article:target{
    background-color: white;
    outline: 2px solid;
    /*border-style: solid;
    border-color:black; */
}